meta(charset="utf-8")
title To do App
link(rel="stylesheet" href="../css/styles.css")
link(rel="stylesheet" href="../../node_modules/angular-date-picker/angular-date-picker.css")
script(src="../../node_modules/angular/angular.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js")
script(src="../../src/app.module.js")
script(src="../../src/todoApp.module.js")
script(src="../../src/services/settings.config.js")
script(src="../../src/controllers/nav.controller.js")
script(src="../../src/controllers/page.controller.js")
script(src="../../src/controllers/todo.controller.js")
script(src="../../src/controllers/settings.controller.js")
script(src="../../src/directives/datepicker.directive.js")
script(src="../../src/components/todo-item.component.js")
script(src="../../src/components/tm-select.component.js")
script(src="../../node_modules/angular-date-picker/angular-date-picker.js")
