-
  var menus = [
    {text: 'Dashboard', label: 'MENU.dashboard', page: 'dashboard'},
    {text: 'To do', 'label': 'MENU.todo', page: 'todo'},
    //- {text: 'New To do', 'label': 'MENU.new-todo', page: 'todo_form'},
    {text: 'Completed', 'label': 'MENU.completed', page: 'completed'},
    {text: 'Settings', 'label': 'MENU.settings', page: 'settings'}
  ];

aside(ng-class="{'blur': main.blurBackground}")
  nav(ng-controller="NavController as nav")
    .profile-info
      .profile
        div(ng-if="!nav.avatar") {{ nav.firstLetter }}
        img(ng-if="nav.avatar" ng-src="{{ nav.avatar }}" ng-class="{'is-user': nav.userAvailable}")
      span {{ nav.username }}

    ul
      each item in menus
        li
          a(ng-class="{'selected': '" + item.page + "' ==  nav.currentPage}" href="#" ng-click="nav.updatePage('" + item.page + "')" ta-i18n=item.label)= item.text

      button.logout(ng-click="nav.logOut()" ta-i18n="COMMON.logout") Log out
