extends layout

block variables 
 - var controller = "MainController as main"
 - var cssClass = "main.fontSize"

append links
  link(rel="stylesheet" href="../css/dark-styles.css")

append scripts
  script(src="../../src/controllers/main.controller.js")
  script(src="../../src/controllers/nav.controller.js")
  script(src="../../src/controllers/page.controller.js")
  script(src="../../src/controllers/dashboard.controller.js")
  script(src="../../src/controllers/todo.controller.js")
  script(src="../../src/controllers/add-todo.controller.js")
  script(src="../../src/controllers/settings.controller.js")
  script(src="../../src/directives/datepicker.directive.js")
  script(src="../../src/components/dialog.component.js")
  script(src="../../src/components/todo-item.component.js")
  script(src="../../src/components/select.component.js")
  script(src="../../src/components/category-selector.component.js")

block content
  -
    var menu = [
      //- {text: 'Dashboard', label: 'MENU.dashboard', page: 'dashboard'},
      {text: 'To do', 'label': 'MENU.todo', page: 'todo'},
      {text: 'Completed', 'label': 'MENU.completed', page: 'completed'},
      {text: 'Settings', 'label': 'MENU.settings', page: 'settings'}
    ];

  aside(ng-controller="NavController as nav" ng-class="{'blur': main.blurBackground}")
    .profile-info
      .profile
        div(ng-if="!nav.avatar") {{ nav.firstLetter }}
        img(ng-if="nav.avatar" ng-src="{{ nav.avatar }}" ng-class="{'is-user': nav.userAvailable}")
      span {{ nav.username }}
    nav
      ul
        each item in menu
          li
            a(ng-class="{'selected': '" + item.page + "' === nav.currentPage}" href="#" ng-click="nav.updatePage('" + item.page + "')" ta-i18n=item.label)= item.text
    button.logout(ng-click="nav.logOut()" ta-i18n="COMMON.logout") Log out
  main(ng-controller="PageController as pg" ng-class="{'blur': main.blurBackground}")
    each item in menu
      .pages(ng-class="[{'is-shown': '" + item.page + "' === pg.currentPage}, '" + item.page + "-page']" ng-include="'partials/" + item.page + ".html'")
