extends layout

block variables 
 - var controller = "LoginController as lg"

append links
  link(rel="stylesheet" href="../css/login.css")

append scripts
  script(src="../../src/controllers/login.controller.js")

block content
  #login-form
    .container(style="height: 36px")
      h1.login(ng-if="lg.showLogin" ta-i18n="COMMON.login") Log In
      h1.create-user(ng-if="!lg.showLogin" ta-i18n="COMMON.create-user") Create User
    .profile(ng-on-dragenter="lg.onDragEnter($event)" ng-on-dragover="lg.onDragOver($event)" ng-on-drop="lg.onDrop($event)")
      .overlay(ng-if="!lg.showLogin" ng-click="lg.updateAvatar()")
      img(ng-src="{{lg.avatar}}" ng-class="{'avatar': lg.avatar}")
      .placeholder-avatar(ng-show="!lg.avatar")
        <svg width="50px" height="50px" viewBox="0 0 50 50">
          <path d="M50.5953 16.6667L2.42843e-05 16.6667C4.18527 6.86926 13.9363 0 25.2977 0C36.659 0 46.41 6.86926 50.5953 16.6667Z" transform="translate(0 33.333344)" fill="#EAEAEA" fill-rule="evenodd" stroke="none" />
          <path d="M0 13.6905C0 6.12943 6.15189 0 13.7406 0C21.3294 0 27.4812 6.12943 27.4812 13.6905C27.4812 21.2515 21.3294 27.381 13.7406 27.381C6.15189 27.381 0 21.2515 0 13.6905Z" transform="translate(11.557007 0)" fill="#EAEAEA" fill-rule="evenodd" stroke="none" />
        </svg>
    form(ng-cloak)
      input(type="text" ng-model="lg.name" ng-keyup="lg.checkUser()" tabindex="1" autofocus)
      .remember-me
        input(type="checkbox" ng-model="lg.remember")
        span Remember me
      .container(style="height: 32px; margin-top: 8px;")
        button.login-btn.primary(ng-if="lg.showLogin" ng-disabled="lg.loginBtnDisabled" ng-click="lg.login()" ta-i18n="COMMON.login") Log In
        button.new-user-btn(ng-if="!lg.showLogin" ng-disabled="lg.registerBtnDisabled" ng-click="lg.register()" ta-i18n="COMMON.register") Register
      .container(style="height: 14px; margin-top: 10px;")
        a.new-user(ng-if="lg.showLogin" ng-click="lg.toggleNew()" ta-i18n="COMMON.create-user") Create User
        a.back(ng-if="!lg.showLogin" ng-click="lg.toggleNew()" ta-i18n="COMMON.go-back") Go back
  #err-msg(ng-show="lg.notify" ng-cloak)
    p {{ lg.notify }}
