div.container.settings(ng-controller="SettingsController as st")
  h3 Settings
  table
    tr
      td Language
      td: tm-select(options="st.locales" default-value="st.locale" on-change="st.changeLang(lang)")
    tr
      td Select font size
      td: tm-select(options="st.font_sizes" default-value="st.font_size" on-change="st.changeFontSize(fontsize)")