div.container.settings(ng-controller="SettingsController as st")
  h3 Keymap
  table
    tr(ng-repeat="key in st.keymaps")
      td {{ key.def }}
      td: kbd {{ key.com }}
  h3 Language
  tm-select(options="st.locales" default-value="st.locale" on-change="st.changeLang(lang)")
  h3 Application
  table
    tr
      td Select font size
      td: tm-select(options="st.font_sizes" default-value="st.font_size" on-change="st.changeFontSize(fontsize)")
    tr
      td Theme
      td(style="text-align: end;")
        .theme-options(ng-repeat="theme in st.themes" title="{{ theme.name }}" style="background: {{ theme.color }}")
