//- div.container.todo(ng-controller="TodoController as td")
//-   .todo-list
//-     todo-item(ng-cloak
//-               ng-repeat="todo in td.todos | filter : {completed:true} track by todo.id"
//-               ng-class="{'selected': todo.id == td.selectedTask}"
//-               todo="todo"
//-               selected="td.selectedTask"
//-               on-remove="td.remove(todo.id)"
//-               ng-click="td.toggle(todo.id)")
