.todo-form(ng-controller="AddTodoController as ac")
  form.input.grid
    .row
      p(ta-i18n="COMMON.title" ng-max-length="20") Title
      input(type="text" name="title" ng-model="ac.title")
    .row
      p(ta-i18n="COMMON.description") Description
      .combined-textarea 
        textarea(rows="5" name="description" ng-model="ac.description" ng-key-down="ac.textareaKeyDown($event)")
        span {{ ac.description.length }}/{{ ac.textareaLimit }}
    .row
      p(ta-i18n="COMMON.category") Category
      ta-category-selector(categories="ac.categories" selected="ac.categoryId" max-display="3" on-toggle="ac.toggleCategory(id)")
    .row
      .col-2
        label(for="date" ta-i18n="COMMON.date") Date
        .input-group
          .icon(ng-click="ac.toggleDatePicker()")
            include ../../../assets/calendar-icon.svg
          input(type="text" name="date" ng-model="ac.dueDate")
        date-picker(ng-model="ac.dueDate" ng-show="ac.showDatePicker" on-date-selected="ac.toggleDatePicker()")
          //- tadate-picker
      .col-2
        .mark-complete
          label(for="complete" class="left" ta-i18n="TODO.mark-complete") Mark complete
          input(type="checkbox" class="right" name="complete" ng-model="complete")
      .clear-fix
