.dialog(ng-if="$ctrl.showDialog")
  div(style="height: 30px")
    button.close-btn(ng-if="$ctrl.options.showClose" ng-click="$ctrl.onClose()")
      include ../../../assets/close.svg
    .clear-fix
  .header
    h3(ta-i18n="$ctrl.options.headingTranslationKey") {{ $ctrl.heading }}
  .content
    .container(ng-include="$ctrl.content")
  .footer
    .btns
      button(ng-if="$ctrl.options.buttons" ng-repeat="btn in $ctrl.options.buttons" ng-class="btn.class" ta-i18n="btn.translationKey" ng-click="btn.onClick($ctrl)") {{ btn.label }}
      button.cancel(ng-if="!$ctrl.options.buttons" ng-click="$ctrl.onCancel()") Cancel
      button.submit.primary(ng-if="!$ctrl.options.buttons" ng-click="$ctrl.onSubmit()") Ok
    .clear-fix
.overlay(ng-if="$ctrl.showDialog")
