.todo(ng-cloak ng-class="$ctrl.categoryColor")
  .row
    .left
      span.tag.dur-todo(ng-if="$ctrl.todo.duration" title="Duration") {{ $ctrl.todo.duration }}
    .right
      .btn.edit(ng-if="$ctrl.showEdit" ng-click="$ctrl.edit($ctrl.todo.id)" ta-i18n-title="COMMON.edit" title="Edit")
        include ../../../assets/edit-todo-icon.svg
      .btn.re-use(ng-if="$ctrl.showReUse" ng-click="$ctrl.reUse($ctrl.todo.id)" ta-i18n-title="TODO.reuse" title="Re-use")
        include ../../../assets/todo-icon.svg
      .btn.mark-complete(ng-if="$ctrl.showMarkComplete" ng-click="$ctrl.markComplete($ctrl.todo.id)" ta-i18n-title="TODO.mark-complete" title="Mark complete")
        include ../../../assets/mark-complete-icon.svg
      .btn.delete(ng-if="!$ctrl.showDelete" ng-class="{'confirm': $ctrl.removeConfirmPending}" ng-click="$ctrl.remove($ctrl.todo.id, $event)" ta-i18n-title="COMMON.delete" title="Delete")
        include ../../../assets/trash-icon.svg
  .row
    p.title {{ $ctrl.todo.title }}
    p.desc(ng-if="$ctrl.todo.description") {{ $ctrl.todo.description }}
